.navigation-bar{
  display: flex;
  padding: 10px;
  width: auto;
  height: 30px;
  background-color: black;
  border: 0;
  &_header{
    margin-left: 20px;
    font-family: "Segoe Script";
    font-size: large;
    color: white;
  }
}